/*
 Theme Name:   Salient Child
 Theme URI:    http://www.andocia.com
 Description:  Salient Child Theme
 Author:       Andocia
 Author URI:   http://www.andocia.com
 Template:     salient
 Version:      1.0.0
*/

.error-graphic{
	width: 85%;
	margin: 0 auto;
	max-width: 500px;
	margin-bottom: -15px;
}

.error-graphic svg{
	width: 100%;
	height: auto;
}

body #error-404.nb-404-custom h1{
	font-size: 70px !important;
	line-height: 50px !important;
	color: #000;
}

body #error-404.nb-404-custom h2{
	text-transform: none;
	font-size: 25px;
	color: #000;
	margin-bottom: 25px;
}

body #error-404.nb-404-custom .nb-404-button{
	border-radius: 5px;
	background-color: #f9d710;
	color: #000;
	padding: 7px 15px;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
}


body #header-outer header#top nav ul li.button_solid_color.menu-item a{
	color: #000 !important;
}

.nb-icon-layouts .wpb_wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.nb-icon-layouts .wpb_wrapper .wpb_row.vc_row-fluid.vc_row.standard_section{
	width: 33.33%;
}

.nb-icon-layouts .wpb_wrapper .img-with-aniamtion-wrap{
	width: 100%;
}

.nb-icon-layouts .wpb_wrapper .wpb_text_column.wpb_content_element{
	width: 100%;
}

/* container */
.nb-purchase-plan-header .wpb_wrapper{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.nb-purchase-plan-header .wpb_wrapper .wpb_wrapper{
	display: block;
}

/* child element */
.nb-purchase-plan-header .wpb_row.vc_row-fluid.vc_row.standard_section{
	width: 40%;
}

.nb-purchase-plan-header .wpb_row.vc_row-fluid.vc_row.standard_section.nb-purchase-plan-header-image{
	margin-top: -50px;
}

.nb-purchase-plan-header .wpb_row.vc_row-fluid.vc_row.standard_section.nb-purchase-plan-header-image img{
	width: 100%;
	height: auto;
	display: none;
}

.ascend #footer-outer .widget h4{
	font-size: 16px;
}

@media only screen and (max-width: 1200px){
	.nb-purchase-plan-header .wpb_row.vc_row-fluid.vc_row.standard_section{
		width: 30%;
	}

	.nb-purchase-plan-header .row-bg.using-image{
		background-size: 100%;
	}

	.nb-purchase-plan-header{
		padding-top: 70px !important;
	}
}

@media only screen and (max-width: 1000px){

	.nb-icon-layouts .wpb_wrapper .wpb_row.vc_row-fluid.vc_row.standard_section{
		width: 50%;
	}

	.nb-double-icon-layouts .col.span_12{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.nb-double-icon-layouts .col.span_12 .vc_col-sm-6.wpb_column.column_container.vc_column_container.col.centered-text{
		width: 50% !important;
	}

	.nb-purchase-plan-header{
		padding-bottom: 0 !important;
		padding-top: 70px !important;
	}

	.nb-purchase-plan-header .row-bg.using-image{
		background-image: none !important;
	}

	.nb-purchase-plan-header .wpb_row.vc_row-fluid.vc_row.standard_section{
		width: 100%;
	}

	.nb-purchase-plan-header .wpb_row.vc_row-fluid.vc_row.standard_section.nb-purchase-plan-header-image img{
		display: block;
	}
}

@media only screen and (max-width: 690px){

	.error-graphic{
		width: 92%;
		margin-bottom: 10px;
	}

	body .row #error-404.nb-404-custom h1{
		font-size: 70px !important;
		line-height: 50px !important;
		color: #000;
	}

	body .row #error-404.nb-404-custom h2{
		text-transform: none;
		font-size: 25px;
		color: #000;
		margin-bottom: 25px;
	}
}